*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

body {
  background-color: black;
}
.container {
  display: flex;
  flex-direction: column;

}
.body {
    background-image: url('../img/home-bg.jpg');
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 50px;
    position: relative;
  }
  
  nav {
    max-width: 1850px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 135px;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
  }
  .trailer {
    position: relative;
    height: auto;
    width: 100%;
    top: -250px;
    z-index: -10;
  }
  body::-webkit-scrollbar {
    width: 1em;
  }
  .trending::-webkit-scrollbar, .trending-now::-webkit-scrollbar {
    width: 1em;
    background-color: #555;
  }
  @media (max-width: 550px) {
    .navbar-home,
    .navbar-signin {
      margin-bottom: 100px;
    }
  }
  .buttons {
      display: flex;
      gap: 2rem;
      align-items: center;
  }
  .lang{
    width: 110px;
    background: none;
    color: #fff;
    text-align: center;
  }
  .lang option{
    width: 110px;
    background: #888;

  }
  .logo {
    height: 40px;
    width: 150px;
    background-image: url('../img/logo.svg');
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 20px;
    }
  .content {
      min-height: 550px; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem; 
  }
  .text{
    width: 30%;
    text-align: center;
  }
  .content h1, .content h2, .content h3 {
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 200;
  }
  .content h1{
    font-size: 3.7rem;
    font-weight: 700;
  }
  .content h2{
    font-size: 1.7rem;
  }
  .content h3{
    font-size: 1.2rem;
  }
  .under-container{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
  }
  .under-1, .under-2{
    width: 100%;
    height: 100%;
    border-top: 8px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .under-1-text, .under-2-text{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .under-1 h1, .under-2 h1{
    color: #fff;
    font-size: 3rem;
  }
  .under-1 h2, .under-2 h2{
    color: #fff;
    font-size: 1.5rem;
  }
  .under-1-img, .under-2-img{
    width: 25%;
  }
  .under-1-img img, .under-2-img img{
    max-height: 400px;
  }
  .form-control{
    display: flex;
    width: 30%;
    height: 70px;
  }
  .try{
    background-color: #e50914;
    width: 35%;
    height: 100%;
    color: #fff;
    border: 0;
    font-size: 2rem;
    border-radius: 3px;
    cursor: pointer; 
  }
  .form-control input {
      width: 65%;
      padding: 1.5rem 2rem;
  }
  .signin-button {
    background-color: #e50914;
    width: 110px;
    color: #fff;
    border: 0;
    font-size: 15px;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .browse-container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(22, 21, 21);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .browse {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 200px;
    align-items: center;
    
  }
  .middle{
    display: flex;
    gap: 2rem;
    width: 100%;
  }
  .profile img, .children img, .add-profile img {
    width: 220px;
    height: 220px;
    border-radius: 5px;
  }
  .profile img:hover, .children img:hover, .add-profile img:hover {
    border: solid 3px #ddd;
  }
  .profile, .children, .add-profile {
    text-align: center;
    color: rgb(200, 192, 192);
    font-size: small;
  }
  .who {
    color: #fff;
    font-size: 5rem;
  }
  .add-profile{
    flex-direction: column;
    display: flex;
  }
  .add-profile button {
    background-color: transparent;
    border: none;
    color: rgb(200, 192, 192);
    font-size: 1.7rem;
  }
  .header-link,
  .header-link-bold {
    padding: 5px;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  .header-link a {
    color: #fff;
    margin-left: 25px;
    cursor: pointer;
  }
  
  .header-link-bold {
    font-weight: bolder;
  }
  .form-login {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 15%;
    transform: translate(-50%);
    background-color: rgba(22, 21, 21, 0.8);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
    padding: 2rem;
  }
  .form-login input {
    padding: 1rem;
  }
  .form-login button {
    width: 100%;
    padding: 1rem;
    font-size: large;
  }
  .checkbox {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .trending {
    position: absolute;
    top: 80%;
    display: flex;
    gap: 0.5rem;
    height: auto;
    overflow-x: scroll;
  }
  .trending-now {
    position: absolute;
    top: 140%;
    display: flex;
    gap: 0.5rem;
    height: auto;
    overflow-x: scroll;
  }
  .trending-h1 {
    position: absolute;
    top: 75%;
    color: #fff;
  }
  .trending-h1-now {
    position: absolute;
    top: 135%;
    color: #fff;
  }
  
  .trending-movies {
    max-width: 20%;
    max-height: 25%;
    min-width: 15%;
    min-height: 20%;
    object-fit: cover;
  }
  .trending-movies:hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .trending-movies img {
      max-width: 100%;
      max-height: 100%;
  }
  .modal {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #555;
  }
  .close {
    position: relative;
    z-index: 10;
  }
  @media (max-width: 650px) {
    .navbar-home,
    .navbar-signin {
      margin-bottom: 100px;
    }
    .under-1, .under-2{
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
    .under-1-img, .under-2-img{
      height: 50%;
      width: 100%;
    }
    .under-1-img img, .under-2-img img{
      width: 60%;
    }
    .under-1-text, .under-2-text{
      height: 50%;
      width: 100%;
    }
    .under-1 h2, .under-2 h2{
      color: #fff;
      font-size: 1.3rem;
    }
    .under-1 h1, .under-2 h1{
      color: #fff;
      font-size: 2rem;
    }
  }
  
  @media (max-width: 1400px) {
    .under-1-img img, .under-2-img img{
      height: 250px;
    }
  }